.contact-card {
  border-radius: 1rem;
  background-color: #eee;
}

[nbInput].status-basic {
  background-color: #eee;
  color: black;
}

.list-section-header {
  color: black;
}

li {
  color: black;
}
