.contact-card, nb-card {
  border-radius: 1rem;
  background-color: #eee;
  color: black;
}

p {
  color: black;
}

[nbInput].status-basic {
  background-color: #eee;
  color: black;
}

nb-radio.status-warning span.text {
  color: black;
}

.list-section-header {
  color: black;
}

ul {
  text-decoration: none;
}

ul {
  list-style: none;
}
